<!DOCTYPE HTML>
<html>
    <head>
        <title>Awesome Forum</title>
        <link rel="stylesheet" href="{{ asset('bundle/awesomeforum/css/forum.css') }}" type="text/css">
    </head>
    <body>
        <div id="body">
            <h1>Awesome Forum</h1>
            
            {% block content %}{% endblock %}
        </div>
    </body>
</html>

