{% extends 'AwesomeForumBundle::layout.html.twig' %}

{% block content %}

<h2>New topic</h2>

<form  method="post">
    {{ form_widget(form) }}
    <input type="submit" value="Post!" />
</form>

{% endblock %}